.homescreen{
  background-color:black;
  border-radius: 15px;
  text-decoration: none;
}

body h2 {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
 margin-top: 30px;
  font-style: normal;
}
body h1 { 
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  padding-bottom: 20px;
}
body{
  background-color: rgb(192 147 253);
}
a {
  text-decoration: underline;
  color: white;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}
.btn-custom{
  font-family: "Rubik Iso", serif;
  font-weight: 400;
  font-size: x-large;
  padding: 40px 50px;
  border-radius: 10px;
  margin: 25px;
}
img.rock{
  width: 400px;
}
.btn-endme{
  font-family: "Rubik Iso", serif;
  font-weight: 400;
  font: large;
  margin-top: 40px;
  padding: 20px 15px;
  background-color: rgb(46, 11, 159);
}
p{
  padding: 10px;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
font-size: larger;
}
#winningGif {
  display: none; /* Hide it initially */
  position: fixed; /* Fix position */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center it perfectly */
  width: 300px; /* Adjust size */
  z-index: 1000; /* Ensure it appears above everything */
}
.instructions-popup {
  position: relative;

  left: 50%;
  transform: translate(-50%, 0%);
  background: white;
  padding: 20px;
  border: 2px solid black;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
  
}
.btn-secondary{
  font-family: "Rubik Iso", serif;
  font-weight: 400;

  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px 15px;
  background-color: rgb(164, 5, 164);
}
.btn-success{
  font-family: "Rubik Iso", serif;
  font-weight: 400;

}
.btn-danger{
  font-family: "Rubik Iso", serif;
  font-weight: 400;
  display: none;
}
#example{
  padding: 10px;
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}
.mb-2{
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
}
